.container {
    max-width: 1200px;
}
.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.product-details {
    padding: 20px;
}
.quantity-input {
    width: 70px;
}
.product-description {
    margin-top: 20px;
}
.btn-custom {
    width: 100%;
    margin-bottom: 10px;
}

.heart{
	border-radius: 15px;
    box-shadow: 10px;   
    background-color:antiquewhite;
    
}
.heart:hover{
    background-color: red;

}
	
