<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>QnA</title>
<link rel="stylesheet" href="/css/boardwrite-view-edit.css" />
</head>
<body>
	<div class="board_wrap">
		<div class="board_title">
			<strong>QnA</strong>
		</div>

		<div class="board_wirte_wrap">
			<!--  form submit 등록 -> DB  -->
			<form th:action="@{/qnaWrite}" method="post">
				<div class="board_write">
					<div class="title">
						<dl>
							<dt>제목</dt>
							<dd>
								<input type="text" th:field="${post.question_title}"
									placeholder="제목 입력" />
							</dd>
						</dl>
					</div>

					<div class="info">
						<dl>
							<dt>글쓴이</dt>
							<dd></dd>
						</dl>

					</div>

					<div class="cont">
						<textarea th:field="${post.question_info}" placeholder="내용 입력"></textarea>
					</div>

					<div class="bt_wrap">
						<button>등록</button>
						<!--    <button class="on">등록</button> -->
						<a href="/">취소</a>
						<!--   <a href="/boardList">취소</a>   / 취소로 된부분을 40번째 줄 코드로 변경한다.  -->
					</div>

				</div>
			</form>

		</div>

	</div>

		<div class="footer-container">
        <footer class="footer">
          <ul>
            <a href="/main">홈</a>
            <a href="#">원두취향테스트</a>
            <a href="#">마이페이지</a>
            <a href="#">공지사항</a>
            <a href="#">QnA</a>
          </ul>
          <p>&copy; 2024 원두쓰리포 쇼핑몰 All right resverd</p>
        </footer>
      </div>
	
</body>
</html>
